{{- $List := index .Context.Site.Data.external .Namespace -}}
{{- with $List -}}
    {{- range . -}}
        {{- if eq .type "script" -}}
            <script 
                src="{{ .src }}"
                {{ if .defer }}defer{{ end }}
                >
            </script>
        {{- else if eq .type "style" -}}
            <link 
                rel="stylesheet" 
                href="{{ .src }}"
            >
        {{- else -}}
            {{- errorf "Error: unknown external resource type: %s" .type -}}
        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- errorf "Error: external resource '%s' is not found" .Namespace -}}
{{- end -}}