//友情链接双栏
@media (min-width: 1024px) {
    .article-list--compact.links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: none;
        box-shadow: none;

        article {
            @include card-style;
            box-shadow: var(--shadow-l2);
            margin-bottom: var(--spacing-sm);
            overflow: hidden;

            &:nth-child(odd) {
                margin-right: var(--spacing-sm);
            }
        }
    }
}